<div id="wrapper">
  <section>
    <h3> Cholvy et Lambert en quelques lignes...</h3>
    <p> Créé en 2010, nous réalisons des chantiers de menuiserie, mais également de taille de pierre et aérogommage. Notre spécialité est la rénovation des bâtiments historiques.</p>
    <p> Voici quelques unes de nos réalisations : </p>
    <ul>
      <li> Restauration de meubles</li>
      <li> Création d'espaces sur mesure (bibliothèque, cuisine, poolhouse...)</li>
      <li> Sablage, aérogommage</li>
      <li> Taille de pierres et divers travaux de maçonnerie</li>
    </ul>
  </section>

  <section>
    <h3> Galerie d'images </h3>
  <ul id="imageGallery">
    <li><%= image_tag 'ecorce.jpg', alt: 'ecorce'%></li>
    <li><%= image_tag 'ecorce.jpg', alt: 'ecorce'%></li>
    <li><%= image_tag 'ecorce.jpg', alt: 'ecorce'%></li>
    <li><%= image_tag 'ecorce.jpg', alt: 'ecorce'%></li>
    <li><%= image_tag 'ecorce.jpg', alt: 'ecorce'%></li>
    <li><%= image_tag 'ecorce.jpg', alt: 'ecorce'%></li>
    <li><%= image_tag 'ecorce.jpg', alt: 'ecorce'%></li> 
    <li><%= image_tag 'ecorce.jpg', alt: 'ecorce'%></li>
    <li><%= image_tag 'ecorce.jpg', alt: 'ecorce'%></li>   
  </section>
</div>
