<div id="wrapper">
  <section>
    <h2 class="contentSection" > Notre savoir faire</h2>
    <p> Créé en 2010, nous réalisons des chantiers de menuiserie, mais également de taille de pierre et aérogommage. <br> Notre entreprise compte à ce jour trois employés issus de différentes formations : menuiserie, taille de pierre, maçonnerie et aérogommage.</p>
    <p> Voici quelques unes de nos réalisations : </p>
    <ul>
      <li> Restauration de meubles</li>
      <li> Création d'espaces sur mesure (bibliothèque, cuisine, poolhouse...)</li>
      <li> Sablage, aérogommage</li>
      <li> Taille de pierres et divers travaux de maçonnerie</li>
    </ul>
    <p> Afin de répondre au mieux à nos clients, nous nous sommes équipés du logiciel de projection 3D de cuisine et espaces intérieurs XXXX </p>
  </section>
  <section>
    <h2 class="contentSection"> Nos réalisations </h2>
    <ul id="gallery">
      <li>
        <a href="img/poolhouse.jpg">
          <%= image_tag 'poolhouse.jpg', alt: 'poolhouse'%>
          <p> Création de cuisine </p>
        </a>
      </li>
      <li>
        <a href="img/poolhouse.jpg">
          <%= image_tag 'poolhouse.jpg', alt: 'poolhouse'%>
          <p> Restauration de meubles </p>
        </a>
      </li>
      <li>
        <a href="img/poolhouse.jpg">
          <%= image_tag 'poolhouse.jpg', alt: 'poolhouse'%>
          <p> Création d'espace intérieur </p>
        </a>
      </li>
      <li>
        <a href="img/poolhouse.jpg">
          <%= image_tag 'poolhouse.jpg', alt: 'poolhouse'%>
          <p> Création d'espace extérieur </p>
        </a>
      </li>
      <li>
        <a href="img/poolhouse.jpg">
          <%= image_tag 'poolhouse.jpg', alt: 'poolhouse'%>
          <p> Travaux d'aérogommage </p>
        </a>
      </li>
    </ul>
  </section>
</div>
